<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>authenticate - Isotope</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="194x194"
            href="/favicon-194x194.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/android-chrome-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0b1d28" />
        <meta name="apple-mobile-web-app-title" content="Isotope" />
        <meta name="application-name" content="Isotope" />
        <meta name="msapplication-TileColor" content="#0b1d28" />
        <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
        <meta name="theme-color" content="#0b1d28" />
        <script>
            function copyToClipboard(text) {
                navigator.clipboard
                    .writeText(text)
                    .then(() => {
                        console.log(`Copied text to clipboard: ${text}`);
                    })
                    .catch((error) => {
                        console.error(`Could not copy text: ${error}`);
                    });
            }
        </script>
    </head>
    <body>
        <div class="content">
           {{%navbar}}
           <div>
                <h1>Authenticate Isotope</h1>
                <p>In order to be able to push packages to the isotope servers under your name, you must authenticate your isotope account to isotope running on your computer.</p>
                <h2>Auth Command</h2>
                <pre
                    class="copyable-pre"
                    onclick="copyToClipboard(event.target.dataset.command)"
                    data-command="{{command}}"
                >{{command}}<div style="float: right;margin-left: 1rem;">📋 Click to Copy</div></pre>
                <p>this authentication will be valid until either you run <pre>{{deleteCommand}}</pre> or the password on your account is changed.</p>
           </div>
        </div>
    </body>
</html>
