<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Isotope</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <h1>Isotope</h1>
        <p>This is the official argon package manager!</p>
        <p>currently in beta, and is not recommended for public use.</p>
        <p>more infomation about the project can be found at <a href="http://github.com/open-argon">http://github.com/open-argon</a></p>
    </body>
</html>
