<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Isotope</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
    </head>
    <body>
        <div class="content">
            <ul class="navbar">
                <li>
                    <a href="/"><div class="logo"></div></a>
                </li>
                <li>
                    <a href="https://github.com/open-argon/Isotope">Github</a>
                </li>
            </ul>
            <div class="welcome">
                <h1>
                    The official
                    package manager for
                    <a
                        style="color: var(--primary)"
                        href="https://argon.wbell.dev/"
                        >Argon</a
                    >
                </h1>
                <svg
                    id="eT9u5McXzkK1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 300 300"
                    shape-rendering="geometricPrecision"
                    text-rendering="geometricPrecision"
                >
                    <g
                        transform="matrix(1.98929 0 0 1.891235-148.412096-129.5244)"
                    >
                        <g
                            transform="matrix(.986514-.163675 0.163675 0.986514-21.773451 28.982775)"
                        >
                            <polygon
                                points="0,-45.9484 13.503896,-18.586518 43.699525,-14.198837 21.849763,7.099418 27.007792,37.173037 0,22.9742 -27.007792,37.173037 -21.849763,7.099418 -43.699525,-14.198837 -13.503896,-18.586518 0,-45.9484"
                                transform="matrix(-.612086 0.250678-.217119-.530145 176.859342 137.109295)"
                                fill="#4c89ad"
                                stroke-width="0"
                            />
                            <polygon
                                points="0,-45.9484 13.503896,-18.586518 43.699525,-14.198837 21.849763,7.099418 27.007792,37.173037 0,22.9742 -27.007792,37.173037 -21.849763,7.099418 -43.699525,-14.198837 -13.503896,-18.586518 0,-45.9484"
                                transform="matrix(.809335-.33146 0.246936 0.602948 128.860597 135.525042)"
                                fill="#64b0dc"
                                stroke-width="0"
                            />
                            <polygon
                                points="0,-45.9484 13.503896,-18.586518 43.699525,-14.198837 21.849763,7.099418 27.007792,37.173037 0,22.9742 -27.007792,37.173037 -21.849763,7.099418 -43.699525,-14.198837 -13.503896,-18.586518 0,-45.9484"
                                transform="matrix(-.656039 0.754727-.754727-.656039 141.427369 117.722841)"
                                fill="#74c3f1"
                                stroke-width="0"
                            />
                            <rect
                                width="94.680693"
                                height="66.232034"
                                rx="10"
                                ry="10"
                                transform="translate(103.022335 151.478337)"
                                fill="#e45b0c"
                                stroke-width="0"
                            />
                            <rect
                                width="94.680693"
                                height="66.232034"
                                rx="10"
                                ry="10"
                                transform="matrix(-.287913-.218611 0.077108-.101552 105.430759 157.856037)"
                                fill="#e45b0c"
                                stroke-width="0"
                            />
                            <rect
                                width="94.680693"
                                height="66.232034"
                                rx="10"
                                ry="10"
                                transform="matrix(-.299 0.203183-.071666-.105463 221.829015 140.779844)"
                                fill="#e45b0c"
                                stroke-width="0"
                            />
                        </g>
                    </g>
                </svg>
            </div>
            <div>

            </div>
        </div>
    </body>
</html>
